[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = git@github.com:aws-quickstart/quickstart-aws-vpc.git
	branch = master
[submodule "submodules/connect-integration-datastreaming"]
	path = submodules/connect-integration-datastreaming
	url = git@github.com:aws-quickstart/connect-integration-datastreaming.git
	branch = master
